form {
    display: table;
    margin: auto;
}

/* color */
.color-grey {
    color: 525e57;
}

.color-dark-blue {
    color: 20575c;
}

.color-green-blue {
    color: 378d9a;
}

.color-blue {
    color: 63a8c0;
}

.color-light-blue {
    color: b0d2ff;
}

.color-white-blue {
    color: dbe6fc;
}

.color-brown {
    color: d09b65;
}

.color-orange-brown {
    color: c07558;
}
/* color */

div.form-element {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.imageMiniature
{
    width: 15%;
    height: auto;
    margin: 2%;
}

.imagePrincipale
{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.imagePleineEcran
{
    width: inherit;/*TODO*/
}

table
{
    background-color: rgb(176, 182, 185);
    border: 1px solid darkgrey;
}



.tableDeuxCol
{
    width: 50%;
    
}